{% extends 'base.html' %}
{% load static %}
{% load format_date %}
{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
{% endblock %}
{% block content %}
    <div class="home__twots">
        {% for twot in twots %}
                        <div class="twot">
                            <a href="/user/{{ twot.user.username }}" class="head">
                                <img src="{{ twot.userdata.UserPicture.url }}"/>
                                <span class="username">@{{ twot.user.username }}</span>
                                <span class="date">{{ twot.date|format_date }}</span>
                            </a>
                            <div class="body">
                                <div class="text">
                                    {{ twot.text }}
                                </div>
                            </div>
                        </div>
        {% endfor %}
    </div>
{% endblock %}