{% extends 'base.html' %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth.css' %}"/>
{% endblock %}
{% block content %}
    <div class="login__container">
        <div class="login__form c">
            <form method="POST" name="login-form">
                <div class="input-line">
                    <label>Логин</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g,'');" id="username-input" placeholder="Введите имя пользователя">
                </div>
                <div class="input-line">
                    <label>Почта</label>
                    <input type="email" id="email-input" placeholder="Введите email">
                </div>
                <div class="input-line">
                    <label>Имя</label>
                    <input type="text" oninput="this.value=this.value.replace(/[^a-zA-Zа-яА-Я]/g,'');" id="name-input" placeholder="Введите имя">
                </div>
                <div class="input-line">
                    <label>Фамилия</label>
                    <input type="text" oninput="this.value=this.value.replace(/[^a-zA-Zа-яА-Я]/g,'');" id="lastname-input" placeholder="Введите фамилию">
                </div>
                <div class="input-line">
                    <label>Пароль</label>
                    <input type="password" id="password-input" placeholder="Введите пароль">
                </div>
                <button id="submit-form">Регистрация</button>
                <b id="error" class="error"></b>
            </form>
            <script type="text/javascript">
                document.getElementById("submit-form").addEventListener('click', (e) => {
                   e.preventDefault();
                   const xhr = new XMLHttpRequest();
                       xhr.open("POST", "procceed/");
                       xhr.responseType = "json";
                       const body = "data="+encodeURIComponent(document.getElementById('username-input').value)
                            +"|"+encodeURIComponent(document.getElementById('email-input').value)
                            +"|"+encodeURIComponent(document.getElementById('name-input').value)
                            +"|"+encodeURIComponent(document.getElementById('lastname-input').value)
                            +"|"+encodeURIComponent(document.getElementById('password-input').value);
                       xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                       xhr.onload = () => {
                          if (xhr.readyState == 4 && xhr.status == 200) {
                            let data = xhr.response;
                            if(data["status"] === "ok"){
                                window.location.replace("/user/"+document.getElementById('username-input').value);
                            } else {
                                document.getElementById('error').innerHTML = data.content.text;
                            }
                          } else {
                            document.getElementById("error").innerHTML = "Произошла ошибка. Попробуйте позже.";
                          }
                        };
                       xhr.send(body);
                });
            </script>
        </div>
    </div>
{% endblock %}